{{!< default}} 

<!--
        =============================================
                Theme Main Banner One
        ==============================================
-->

    <div class="onu-hero-section onu-hero-one pt-300 pb-350 md-pt-200 md-pb-130 pos-r">
        <div class="shape-wrapper">
            <img src="{{asset "images/shape/1.svg"}}" alt="" class="shape-one wow fadeInRight animated" data-wow-duration="2s">
            <div class="main-illustration">
                <!--						&lt;!&ndash; <img src="images/shape/banner-shape-1.svg" alt="" class="b-shape-1 wow fadeInDown animated" data-wow-duration="2s" data-wow-delay="1.7s">-->
                <img src="{{ asset "images/home/hero.svg" }}" alt="" class="b-shape-2 wow zoomIn animated" data-wow-duration="2s"
                    data-wow-delay="1.7s">

            </div>
            <img src="{{ asset "images/shape/2.svg" }}" alt="" class="line-shape-one img-shape wow fadeInRight animated"
                data-wow-duration="3s">
            <img src="{{ asset "images/shape/3.svg" }}" alt="" class="line-shape-two img-shape wow fadeInLeft animated"
                data-wow-duration="3s">
            <img src="{{ asset "images/shape/15.svg" }}" alt="" class="light-lamp img-shape wow fadeInDown animated"
                data-wow-duration="2s" data-wow-delay="1.7s">
            <img src="{{ asset "images/shape/4.svg" }}" alt="" class="shape-two img-shape">
            <img src="{{ asset "images/shape/5.svg" }}" alt="" class="shape-three img-shape">
            <img src="{{ asset "images/shape/6.svg" }}" alt="" class="shape-four img-shape">
            <img src="{{ asset "images/shape/7.svg" }}" alt="" class="shape-five img-shape">
            <img src="{{ asset "images/shape/8.svg" }}" alt="" class="shape-six img-shape">
            <img src="{{ asset "images/shape/9.svg" }}" alt="" class="shape-seven img-shape">
            <img src="{{ asset "images/shape/10.svg" }}" alt="" class="shape-eight img-shape">
            <img src="{{ asset "images/shape/11.svg" }}" alt="" class="shape-nine img-shape">
            <img src="{{ asset "images/shape/12.svg" }}" alt="" class="shape-ten img-shape">
            <img src="{{ asset "images/shape/13.svg" }}" alt="" class="shape-eleven img-shape">
            <img src="{{ asset "images/shape/14.svg" }}" alt="" class="shape-twelve img-shape">
        </div>
        <div class="container">
            <div class="main-wrapper pos-r">
                <h1 class="banner-main-title underline pt-15 pb-45 md-pt-10 md-pb-30 wow fadeInUp animated"
                    data-wow-delay="0.4s">T-Express <br> <span>доставляем мечту</span></h1>
                <p class="banner-sub-title pb-45 md-pb-30 wow fadeInUp animated" data-wow-delay="0.9s">Доверьте нам
                    доставку ваших покупок из США</p>
                <a href="https://app.t-express.us" class="theme-btn solid-button-one wow fadeInLeft animated"
                    data-wow-delay="1.5s">Получить адрес</a>
                <a href="#about-us" class="theme-btn line-button-one wow fadeInRight animated"
                    data-wow-delay="1.5s">Узнать больше</a>
            </div> <!-- /.main-wrapper -->
        </div> <!-- /.container -->
    </div> <!-- /.onu-hero-section -->

    <div class="op-partner-section-one pt-80 pb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-6">
                    <div class="img-box bx-a">
                        <a href="https://apple.com" target="_blank"><img src="{{ asset "images/brands/apple.svg" }}" alt=""></a>
                    </div> <!-- /.img-box -->
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <div class="img-box bx-b">
                        <a href="https://amazon.com" target="_blank"><img src="{{ asset "images/brands/amazon.svg" }}" alt=""></a>
                    </div> <!-- /.img-box -->
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <div class="img-box bx-c">
                        <a target="_blank" href="https://bestbuy.com"><img src="{{ asset "images/brands/best-buy.svg" }}" alt=""></a>
                    </div> <!-- /.img-box -->
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                    <div class="img-box bx-d">
                        <a href="https://forever21.com" target="_blank"><img src="{{ asset "images/brands/forever21.svg" }}"
                                alt=""></a>
                    </div> <!-- /.img-box -->
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                    <div class="img-box bx-e">
                        <a href="https://hm.com" target="_blank"><img src="{{ asset "images/brands/h-m.svg" }}" alt=""></a>
                    </div> <!-- /.img-box -->
                </div>
                <div class="col-xl-4 col-lg-2 col-md-4 col-6">
                    <div class="img-box bx-f">
                        <a href="https://uniqlo.com" target="_blank"><img src="{{ asset "images/brands/uniqlo.svg" }}" alt=""></a>
                    </div> <!-- /.img-box -->
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                    <div class="img-box bx-g">
                        <a href="https://ebay.com" target="_blank"><img src="{{ asset "images/brands/ebay.svg" }}" alt=""></a>
                    </div> <!-- /.img-box -->
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-6">
                    <div class="img-box bx-h">
                        <a href="https://gap.com" target="_blank"><img src="{{ asset "images/brands/gap.svg" }}" alt=""></a>
                    </div> <!-- /.img-box -->
                </div>
                <div class="col-xl-3 col-lg-11 col-md-4 col-6">
                    <div class="img-box bx-i">
                        <a href="https://ralphlauren.com" target="_blank"><img src="{{ asset "images/brands/ralphlauren.svg" }}"
                                alt=""></a>
                    </div> <!-- /.img-box -->
                </div>
            </div>
        </div>
    </div>



    <!-- 
			=============================================
				Our Core Feature
			============================================== 
			-->
    <div class="our-core-feature style-one pt-75 pb-30 md-pt-80 pos-r" id="about-us">
        <div class="shape-wrapper">
            <img src="{{ asset "images/shape/14.svg" }}" alt="" class="shape-one img-shape">
            <img src="{{ asset "images/shape/4.svg" }}" alt="" class="shape-two img-shape">
            <img src="{{ asset "images/shape/5.svg" }}" alt="" class="shape-three img-shape">
            <img src="{{ asset "images/shape/17.svg" }}" alt="" class="shape-four img-shape">
            <img src="{{ asset "images/shape/18.svg" }}" alt="" class="shape-five img-shape">
            <img src="{{ asset "images/shape/19.svg" }}" alt="" class="shape-six img-shape">
        </div> <!-- /.shape-wrapper -->
        <div class="container">
            <div class="theme-title-one text-center pb-55">
                <div class="upper-title mb-5">Как заказать</div>
                <h2 class="main-title"><span>Три простых шага, чтобы получить покупку</span></h2>
            </div> <!-- /.theme-title-one -->
            <div class="row feature-block-wrapper">
                <div class="col-md-4">
                    <div class="feature-block-one hover-state mb-40">
                        <div class="icon icon-two tran3s">1.</div>
                        <h5 class="pt-30 pb-25 tran3s title">Получите ваш личный адрес в США</h5>
                        <p class="tran3s">Зарегистрируйтесь у нас на сайте и получите адреса складов в США, куда вы
                            можете направлять свои покупки.</p>
                        <p class="tran3s">Заказывайте любые товары, за исключением <a class="text-danger"
                                href="/prohibited.pdf" target="_blank">запрещенных.</a></p>
                    </div> <!-- /.feature-block-one -->
                </div>
                <div class="col-md-4">
                    <div class="feature-block-one hover-state mb-40">
                        <div class="icon icon-one tran3s">2.</div>
                        <h5 class="pt-30 pb-25 tran3s title">Отправьте покупку на полученный адрес</h5>
                        <p class="tran3s">Как только магазин вам выдаст треккинговый номер для отслеживания посылки,
                            внесите его в свой личный кабинет, <br> и получайте уведомления о передвижении вашей
                            посылки.</p>
                    </div> <!-- /.feature-block-one -->
                </div>
                <div class="col-md-4">
                    <div class="feature-block-one hover-state mb-40">
                        <div class="icon icon-three tran3s">3.</div>
                        <h5 class="pt-30 pb-25 tran3s title">Примите посылки в Кыргызстане</h5>
                        <p class="tran3s">Раз в неделю все посылки консолидируются в единый груз и отправляются в
                            Кыргызстан.<br> Посылки будут доставлены в Кыргызстан в течение 3-7 рабочих дней со дня
                            вылета из США.</p>
                    </div> <!-- /.feature-block-one -->
                </div> <!-- /.col- -->
            </div> <!-- /.row -->
            <div class="row pt-30 justify-content-center align-items-center">
                <div class="col-lg-4 text-center pb-20">
                    <a href="https://app.t-express.us" class="theme-btn solid-button-one aos-init"
                        data-aos="fade-up">Получить адрес</a>
                </div>
                <div class="col-lg-8">
                    <p>После прохождения таможенного оформления и сортировки груза, посылки будут готовы к выдачи.
                        После оповещения нашим менеджером, вы можете забрать свои посылки у нас в офисе или оформить
                        доставку до дома (в первый день выдачи груза доставка до дверей адресата - бесплатная).
                    </p>
                </div>
            </div>
        </div> <!-- /.container -->
    </div> <!-- /.our-core-feature -->


    <!-- 
			==============================================
				About Us One
			============================================== 
			-->
    <div class="about-us-block-one pt-120 pb-30 md-pt-100 pos-r">
        <div class="shape-wrapper">
            <img src="{{ asset "images/shape/21.svg" }}" alt="" class="shape-one img-shape">
            <img src="{{ asset "images/shape/23.svg" }}" alt="" class="shape-two img-shape">
            <img src="{{ asset "images/shape/24.svg" }}" alt="" class="shape-three img-shape">
            <img src="{{ asset "images/shape/17.svg" }}" alt="" class="shape-four img-shape">
            <img src="{{ asset "images/shape/9.svg" }}" alt="" class="shape-five img-shape">
            <img src="{{ asset "images/shape/25.svg" }}" alt="" class="shape-six img-shape">
        </div> <!-- /.shape-wrapper -->
        <div class="inner-wrapper pos-r">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="theme-title-one">
                            <h2 class="main-title underline"><span>Рассчитайте стоимость доставки</span></h2>
                        </div> <!-- /.theme-title-one -->
                        <p class="pt-40 pb-45">Стоимость доставки до города Бишкек от $11. Для получения более детальной
                            информации
                            по тарифам и условиям, свяжитесь с менеджерами компании.</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="theme-form-style-two">
                            <form id="weightCalc" action="">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <input type="number" id="length" name="length" placeholder="Д (см)">
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="number" id="width" name="width" placeholder="Ш (см)">
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="number" id="height" name="height" placeholder="В (см)">
                                    </div>
                                </div>

                                <input type="number" id="weight" name="weight" placeholder="Вес (кг)">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <button class="theme-btn solid-button-one mb-10"
                                            type="submit">Рассчитать</button>
                                    </div>
                                    <div class="col-lg-6">
                                        <button type="reset" id="reset"
                                            class="theme-btn button-rose line-button-one">Сбросить</button>
                                    </div>
                                </div>
                                <h4 class="pt-30 pb-30" id="summ" name="summ"></h4>
                            </form>
                        </div> <!-- /.theme-form-style-two -->
                    </div>
                </div>
            </div> <!-- /.container -->
            <div class="path-shape-holder">
                <img src="{{ asset "images/shape/16.svg" }}" alt="" data-aos="fade-left">
                <div class="image-box" data-aos="fade-left" data-aos-delay="300">
                    <svg width="666" height="578">
                        <g clip-path="url(#path-shape-one)">
                        </g>
                    </svg>
                </div>
            </div> <!-- /.path-shape-holder -->
        </div> <!-- /.inner-wrapper -->
    </div> <!-- /.about-us-block-one -->



    <!-- 
			=============================================
				Our Service One
			============================================== 
			-->
    <div class="our-service-one pt-100 pos-r mb-100 md-mb-120 md-pt-80">
        <div class="shape-wrapper">
            <img src="{{ asset "images/shape/26.svg" }}" alt="" class="shape-one img-shape">
            <img src="{{ asset "images/shape/28.svg" }}" alt="" class="shape-two img-shape">
            <img src="{{ asset "images/shape/13.svg" }}" alt="" class="shape-three img-shape">
            <img src="{{ asset "images/shape/29.svg" }}" alt="" class="shape-four img-shape">
            <img src="{{ asset "images/shape/9.svg" }}" alt="" class="shape-five img-shape">
            <img src="{{ asset "images/shape/30.svg" }}" alt="" class="shape-six img-shape">
            <img src="{{ asset "images/shape/27.svg" }}" alt="" class="shape-seven img-shape">
            <img src="{{ asset "images/shape/31.svg" }}" alt="" class="shape-eight img-shape">
            <img src="{{ asset "images/shape/32.svg" }}" alt="" class="shape-nine img-shape">
        </div> <!-- /.shape-wrapper -->
        <div class="container">
            <div class="theme-title-one text-center pb-30">
                <h2 class="main-title underline"><span>Почему мы?</span></h2>
            </div> <!-- /.theme-title-one -->
            <div class="inner-wrapper pos-r">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="feature-block-one mb-45 mt-85 md-mt-40">
                            <img src="{{ asset "images/icon/icon4.svg" }}" alt="" class="img-icon pb-25">
                            <p class="tran3s">Самые выгодные цены и лучшие сроки доставки.</p>
                        </div> <!-- /.feature-block-one -->
                        <div class="feature-block-one">
                            <img src="{{ asset "images/icon/icon3.svg" }}" alt="" class="img-icon pb-25">
                            <p class="tran3s">Компания официально зарегистрирована как на территории Кыргызстана, так и
                                в США.</p>
                            <p class="tran3s">Склады находятся в штате Нью-Йорк и в безналоговом штате Делавэр.</p>
                        </div> <!-- /.feature-block-one -->
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="feature-block-one mb-45 md-mt-40">
                            <img src="{{ asset "images/icon/icon2.svg" }}" alt="" class="img-icon pb-25">
                            <p class="tran3s">Более 4-х лет опыта в логистике и онлайн покупках.</p>
                        </div> <!-- /.feature-block-one -->
                        <div class="feature-block-one">
                            <img src="{{ asset "images/icon/icon5.svg" }}" alt="" class="img-icon pb-25">
                            <p class="tran3s">Научим экономить на просторах интернет магазинов и с максимальной выгодой
                                получать свои покупки в КР.</p>
                        </div> <!-- /.feature-block-one -->
                    </div>
                </div>
            </div>
        </div> <!-- /.container -->
    </div> <!-- /.our-service-one -->

    <!-- Element Style -->
    <div class="element-section">
        <div class="newsletter-section newsletter-two pos-r mt-100 md-mt-120 mb-100">
            <div class="shape-wrapper">
                <svg class="img-shape shape-one">
                    <path fill-rule="evenodd" fill="rgb(255, 205, 111)"
                        d="M8.000,15.999 C12.418,15.999 16.000,12.417 16.000,7.999 C16.000,3.581 12.418,-0.001 8.000,-0.001 C3.582,-0.001 -0.000,3.581 -0.000,7.999 C-0.000,12.417 3.582,15.999 8.000,15.999 Z" />
                </svg>
                <svg class="img-shape shape-two">
                    <path fill-rule="evenodd" fill="rgb(206, 124, 255)"
                        d="M5.500,10.999 C8.537,10.999 11.000,8.537 11.000,5.499 C11.000,2.462 8.537,-0.001 5.500,-0.001 C2.462,-0.001 -0.000,2.462 -0.000,5.499 C-0.000,8.537 2.462,10.999 5.500,10.999 Z" />
                </svg>
            </div>
            <div class="container">
                <div class="main-wrapper">
                    <div class="theme-title-one text-center pb-55">
                        <h2 class="main-title">Я хочу заказать из США<br> <i>Как мне это сделать?</i></h2>
                    </div> <!-- /.theme-title-one -->
                    <form class="ajax-sub-form-2 subscribe-form" method="post"
                        action="https://docs.google.com/forms/u/5/d/e/1FAIpQLSdXjVf1DUCx-lGcY7MB021zPghByZfH67fvpqVPMoTAlIWtbQ/formResponse"
                        target="hidden_iframe">
                        <!-- use the id="ajax-sub-form" when you use it , we have change the ID in here for duplicate ID error -->
                        <iframe name="hidden_iframe" style="display:none;"></iframe>
                        <input type="number" required name="entry.409597030" placeholder="Ваш телефон"
                            id="subscription-email-2">
                        <!-- use the id="subscription-email" when you use it , we have change the ID in here for duplicate ID error -->
                        <button type="submit" class="button-rose submit-button"><i class="flaticon-next"></i></button>
                        <label class="subscription-label" for="subscription-email-2"></label>
                        <div class="text-center pt-30 "><i class="text-center">Указывая телефон вы принимаете <a
                                    class="text-info" href="/agreement.pdf" target="_blank">Условия соглашения</a></i>
                        </div>
                    </form>
                </div> <!-- /.main-wrapper -->
            </div> <!-- /.container -->
        </div> <!-- /.newsletter-section -->
    </div>


    <!--
			=====================================================
				Project Gallery
			=====================================================
			-->
    <div class="project-gallery-home-one pos-r md-pt-20">
        <div class="container">
            <div class="d-md-flex align-items-center justify-content-between pos-r">
                <div class="theme-title-one">
                    <div class="upper-title mb-5">Чаще всего заказывают в США</div>
                    <h2 class="main-title">Популярные Заказы</h2>
                </div> <!-- /.theme-title-one -->
                <a href="#" class="theme-btn solid-button-one button-rose sm-mt-40">Магазины</a> <!-- portfolio-v1.html : not found in orig-->
            </div>
        </div> <!-- /.container -->

        <div class="slider-item-wrapper">
            <div class="home-gallery-slider">
                <div class="item">
                    <div class="gallery-polar-state">
                        <div class="img-holder pos-r">
                            <img src="{{ asset "images/gallery/Mac.png" }}" alt="">
                            <a href="{{ asset "images/gallery/Mac.png" }}" class="icon zoom fancybox" data-fancybox="images"
                                data-caption="В Кыргызстане $2665, в США $2399">+</a>
                        </div> <!-- /.img-holder -->
                    </div> <!-- /.gallery-polar-state -->
                </div>
                <div class="item">
                    <div class="gallery-polar-state">
                        <div class="img-holder pos-r">
                            <img src="{{ asset "images/gallery/Iphone.png" }}" alt="">
                            <a href="{{ asset "images/gallery/Iphone.png" }}" class="icon zoom fancybox" data-fancybox="images"
                                data-caption="В Кыргызстане $1200, в США $999">+</a>
                        </div> <!-- /.img-holder -->
                    </div> <!-- /.gallery-polar-state -->
                </div>
                <div class="item">
                    <div class="gallery-polar-state">
                        <div class="img-holder pos-r">
                            <img src="{{ asset "images/gallery/Nike.png" }}" alt="">
                            <a href="{{ asset "images/gallery/Nike.png" }}" class="icon zoom fancybox" data-fancybox="images"
                                data-caption="В Кыргызстане $180, в США $140">+</a>
                        </div> <!-- /.img-holder -->
                    </div> <!-- /.gallery-polar-state -->
                </div>
                <div class="item">
                    <div class="gallery-polar-state">
                        <div class="img-holder pos-r">
                            <img src="{{ asset "images/gallery/Airpods.png" }}" alt="">
                            <a href="{{ asset "images/gallery/Airpods.png" }}" class="icon zoom fancybox" data-fancybox="images"
                                data-caption="В Кыргызстане $350, в США $250">+</a>
                        </div> <!-- /.img-holder -->
                    </div> <!-- /.gallery-polar-state -->
                </div>
                <div class="item">
                    <div class="gallery-polar-state">
                        <div class="img-holder pos-r">
                            <img src="{{ asset "images/gallery/Watch.png" }}" alt="">
                            <a href="{{ asset "images/gallery/Watch.png" }}" class="icon zoom fancybox" data-fancybox="images"
                                data-caption="В Кыргызстане $300, в США $200">+</a>
                        </div> <!-- /.img-holder -->
                    </div> <!-- /.gallery-polar-state -->
                </div>
            </div>
        </div> <!-- /.slider-item-wrapper -->
    </div> <!-- /.project-gallery-home-one -->
    <!--
                        =====================================================
                            Testimonial
                        =====================================================
                        -->
			<div class="testimonial-section-classic style-two pos-r">
				<div class="shape-wrapper">
					<img src="{{ asset "images/shape/5.svg" }}" alt="" class="shape-one img-shape">
					<img src="{{ asset "images/shape/4.svg" }}" alt="" class="shape-two img-shape">
					<img src="{{ asset "images/shape/4.svg" }}" alt="" class="shape-three img-shape">
					<img src="{{ asset "images/shape/23.svg" }}" alt="" class="shape-four img-shape">
					<img src="{{ asset "images/shape/17.svg" }}" alt="" class="shape-five img-shape">
					<img src="{{ asset "images/shape/24.svg" }}" alt="" class="shape-six img-shape">
					<img src="{{ asset "images/shape/9.svg" }}" alt="" class="shape-seven img-shape">
					<img src="{{ asset "images/shape/25.svg" }}" alt="" class="shape-eight img-shape">
				</div> <!-- /.shape-wrapper -->
				<div class="shape-wrapper">
					<img src="{{ asset "images/home/2.jpg" }}" alt="" class="people">
					<img src="{{ asset "images/home/3.jpg" }}" alt="" class="people">
					<img src="{{ asset "images/home/4.jpg" }}" alt="" class="people">
					<img src="{{ asset "images/home/5.jpg" }}" alt="" class="people">
					<img src="{{ asset "images/home/6.jpg" }}" alt="" class="people">
					<img src="{{ asset "images/home/7.jpg" }}" alt="" class="people">
				</div>
				<div class="container">
					<div class="theme-title-one text-center">
						<div class="icon-box hide-pr">
							<svg class="bg-shape"
								 width="80px" height="80px">
								<defs>
									<linearGradient id="PSgrad_0" x1="0%" x2="0%" y1="100%" y2="0%">
										<stop offset="0%" stop-color="rgb(255,175,185)" stop-opacity="1" />
										<stop offset="100%" stop-color="rgb(255,70,159)" stop-opacity="1" />
									</linearGradient>

								</defs>
								<path fill-rule="evenodd"  fill="url(#PSgrad_0)"
									  d="M40.000,-0.000 C62.091,-0.000 80.000,17.908 80.000,40.000 C80.000,62.091 62.091,80.000 40.000,80.000 C17.909,80.000 0.000,62.091 0.000,40.000 C0.000,17.908 17.909,-0.000 40.000,-0.000 Z"/>
							</svg>
							<img src="{{ asset "images/icon/icon7.svg" }}" alt="" class="icon">
						</div>
						<h2 class="main-title underline"><span>Какие мы даем</span><br> <span>гарантии</span></h2>
					</div> <!-- /.theme-title-one -->

					<div class="inner-container">
						<div class="main-content">
								<div class="item">
									<p>Как только ваша посылка попадает на наш склад в США, мы отвечаем за ваш груз!</p>
									<p>Все посылки на складе в США проходят через сканирование, а актуальную информацию о местонахождении посылки можно найти в своем личном кабинете.
										 Нам приятно видеть радость на лицах наших клиентов, когда они получают посылку в целости и сохранности, а самое главное в срок.
									</p>
									<p>В случае утери или порчи посылки по нашей вине, клиенту возмещается ее полная стоимость. Условия возмещения ущерба оговариваются с каждым клиентом индивидуально.</p>
									<h6 class="name">Мы дорожим своей репутацией, поэтому для нас каждая посылка имеет значение.</h6>
									<span class="designation">Команда T-Express.</span>
								</div> <!-- /.item -->
							<div class="pt-30">
								<a href="services.html" class="theme-btn solid-button-one aos-init" data-aos="fade-up">Узнать больше</a>
							</div>
							</div>
						</div>
					</div> <!-- /.inner-container -->
				</div> <!-- /.container -->
			</div> <!-- /.testimonial-section-classic -->


<!--			=====================================================-->
<!--				Our Blog-->
<!--			=====================================================-->

			<div class="home-blog-one pos-r pt-120 pb-120 md-pt-20 md-pb-80">
				<div class="container">
					<div class="theme-title-one text-center pb-80">
						<div class="upper-title mb-5">Наш блог</div>
						<h2 class="main-title underline"><span>Свежие новости</span></h2>
					</div> <!-- /.theme-title-one -->

					<div class="row">
						<div class="col-lg-4">
							<div class="blog-post-block-one mt-40">
								<div class="flip-box-front">
									<a href="#" class="title">Круглогодичные распродажи и скидки в онлайн-магазинах США</a>
									<p>Американские магазины регулярно устраивают распродажи в честь окончания сезона или наступающих праздников, однако ...</p>
								</div> <!-- /.flip-box-front -->
								<div class="flip-box-back">
									<a href="discounts.html" class="title">Круглогодичные распродажи и скидки в онлайн-магазинах США</a>
									<a href="discounts.html" class="more"><i class='flaticon-next-1'></i></a>
								</div> <!-- /.flip-box-back -->
							</div> <!-- /.blog-post-block-one -->
						</div>

						<div class="col-lg-4">
							<div class="blog-post-block-one mt-40">
								<div class="flip-box-front">
									<a href="#" class="title">MrRebates.com – кэшбек при покупках в интернет-магазинах</a>
									<p>Он появился одним из первых и остаётся одним из наиболее респектабельных и популярных...</p>
								</div> <!-- /.flip-box-front -->
								<div class="flip-box-back">
									<a href="rebates.html" class="title">MrRebates.com – кэшбек при покупках в интернет-магазинах</a>
									<a href="rebates.html" class="more"><i class='flaticon-next-1'></i></a>
								</div> <!-- /.flip-box-back -->
							</div> <!-- /.blog-post-block-one -->
						</div>

						<div class="col-lg-4">
							<div class="blog-post-block-one mt-40">
								<div class="flip-box-front">

									<a href="#" class="title">Немного об H&M</a>
									<p>Демократичный и всеми любимый H&M последние годы не сдает свои позиции по популярности среди населения.  Правда, не каждый знает, что бренд имеет свою богатую и интересную историю, так...</p>
								</div> <!-- /.flip-box-front -->
								<div class="flip-box-back">
									<a href="hm.html" class="title">Немного об H&M.</a>
									<a href="hm.html" class="more"><i class='flaticon-next-1'></i></a>
								</div> <!-- /.flip-box-back -->
							</div> <!-- /.blog-post-block-one -->
						</div>
					</div>
				</div>
			</div> <!-- /.home-blog-one -->


			<!-- 
			=============================================
				Newsletter Section
			============================================== 
			-->
			<div class="newsletter-section newsletter-one pos-r">
				<div class="shape-wrapper">
					<img src="{{ asset "images/shape/17.svg" }}" alt="" class="shape-one img-shape">
					<img src="{{ asset "images/shape/38.svg" }}" alt="" class="shape-two img-shape">
					<img src="{{ asset "images/shape/4.svg" }}" alt="" class="shape-three img-shape">
					<img src="{{ asset "images/shape/28.svg" }}" alt="" class="shape-four img-shape">
					<img src="{{ asset "images/shape/9.svg" }}" alt="" class="shape-five img-shape">
					<img src="{{ asset "images/shape/39.svg" }}" alt="" class="shape-six img-shape">
					<img src="{{ asset "images/shape/40.svg" }}" alt="" class="shape-seven img-shape">
				</div>
				<div class="container"> 
					<div class="main-wrapper">
						<div class="theme-title-one text-center">
							<h2 class="main-title underline"><span>Не знаете, где продают то, </span> <br> <span>что вам нужно?</span></h2>
						</div> <!-- /.theme-title-one -->
						<p class="pt-20 pb-40 text-center">Расскажите подробно о товаре, который хотите заказать в США. <br>Мы поможем найти самые выгодные варианты и доставим в Кыргызстан.</p>
						<form class="ajax-sub-form subscribe-form" method="post" action="https://docs.google.com/forms/u/5/d/e/1FAIpQLSdXjVf1DUCx-lGcY7MB021zPghByZfH67fvpqVPMoTAlIWtbQ/formResponse" target="hidden_iframe">
							<iframe name="hidden_iframe" style="display:none;"></iframe>
							<input type="number" required name="entry.409597030" placeholder="Ваш телефон" id="subscription-email">
							<button type="submit" class="submit-button"><i class="flaticon-next"></i></button>
					        <label class="subscription-label" for="subscription-email"></label>
							<div class="text-center pt-20"><i class="text-center">Указывая телефон вы принимаете <a class="text-info" href="/agreement.pdf" target="_blank">Условия соглашения</a></i></div>
						</form>
					</div> <!-- /.main-wrapper -->
				</div> <!-- /.container -->
			</div> <!-- /.newsletter-section -->