{{!< default}} 
{{!-- The tag above means: insert everything in this file 
into the {body} of the default.hbs template --}} 
    
<!--
    =============================================
            Banner Large Text
    ==============================================
-->
    <div class="banner-large-text pt-200 pb-100 pos-r md-pt-100 md-pb-50">
        <div class="shape-wrapper">
            <img src="{{ asset "images/shape/13.svg"}}" alt="" class="shape-two img-shape">
            <img src="{{ asset "images/shape/5.svg"}}" alt="" class="shape-three img-shape">
            <img src="{{ asset "images/shape/4.svg"}}" alt="" class="shape-four img-shape">
            <img src="{{ asset "images/shape/47.svg"}}" alt="" class="shape-five img-shape">
            <img src="{{ asset "images/shape/4.svg"}}" alt="" class="shape-six img-shape">
            <img src="{{ asset "images/shape/48.svg"}}" alt="" class="shape-seven img-shape">
            <img src="{{ asset "images/shape/9.svg"}}" alt="" class="shape-eight img-shape">
            <img src="{{ asset "images/shape/49.svg"}}" alt="" class="shape-nine img-shape">
        </div>
        <div class="container">
            <div class="inner-wrapper pos-r">
                <div class="shape-wrapper">
                    <div class="img-shape shape-one"><img src="{{ asset "images/home/11.jpg"}}" alt=""></div>
                </div>
                <h1 class="title"><span class="pos-r">Мы и сами </span> <br> заядлые <br> шопоголики</h1>
                <div class="row">
                    <div class="col-xl-5 col-lg-6 col-md-7">
                        <p class="sub-heading pb-25">Наша компания не просто доставляет посылки из США</p>
                        <p>мы делимся всеми тонкостям онлайн-шопинга, предоставляя возможность клиентам максимально
                            выгодно совершать свои покупки.</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /.banner-large-text -->

    <div class="our-service-three pt-200 pos-r pb-100 70 md-pt-70">
        <div class="shape-wrapper">
            <img src="{{ asset "images/home/shape1.png"}}" alt="" class="img-shape shape-one">
            <svg class="img-shape shape-two">
                <path fill-rule="evenodd" fill="rgb(168, 255, 243)"
                    d="M7.500,14.999 C11.642,14.999 15.000,11.642 15.000,7.500 C15.000,3.357 11.642,-0.001 7.500,-0.001 C3.358,-0.001 -0.000,3.357 -0.000,7.500 C-0.000,11.642 3.358,14.999 7.500,14.999 Z">
                </path>
            </svg>
            <svg class="img-shape shape-three">
                <path fill-rule="evenodd" fill="rgb(255, 164, 164)"
                    d="M15.000,30.000 C23.284,30.000 30.000,23.284 30.000,15.000 C30.000,6.715 23.284,-0.000 15.000,-0.000 C6.716,-0.000 -0.000,6.715 -0.000,15.000 C-0.000,23.284 6.716,30.000 15.000,30.000 Z">
                </path>
            </svg>
            <svg class="img-shape shape-four">
                <path fill-rule="evenodd" fill="rgb(255, 216, 142)"
                    d="M5.000,10.000 C7.761,10.000 10.000,7.761 10.000,5.000 C10.000,2.238 7.761,-0.000 5.000,-0.000 C2.238,-0.000 -0.000,2.238 -0.000,5.000 C-0.000,7.761 2.238,10.000 5.000,10.000 Z">
                </path>
            </svg>
            <svg class="img-shape shape-five">
                <path fill-rule="evenodd" fill="rgb(142, 244, 229)"
                    d="M7.500,15.000 C11.642,15.000 15.000,11.642 15.000,7.499 C15.000,3.357 11.642,-0.000 7.500,-0.000 C3.358,-0.000 -0.000,3.357 -0.000,7.499 C-0.000,11.642 3.358,15.000 7.500,15.000 Z">
                </path>
            </svg>
            <svg class="img-shape shape-six">
                <path fill-rule="evenodd" opacity="0.541" fill="rgb(255, 252, 231)"
                    d="M171.500,343.000 C266.217,343.000 343.000,266.216 343.000,171.500 C343.000,76.783 266.217,-0.001 171.500,-0.001 C76.783,-0.001 -0.000,76.783 -0.000,171.500 C-0.000,266.216 76.783,343.000 171.500,343.000 Z">
                </path>
            </svg>
        </div> <!-- /.shape-wrapper -->
        <div class="container">
            <div class="theme-title-one text-center pb-50 md-pb-30">
                <h2 class="main-title">Наши <i>Услуги</i></h2>
            </div> <!-- /.theme-title-one -->

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="feature-block-two aos-init aos-animate" data-aos="fade-up">
                        <h5 class="pt-25 text-center">Доставка товаров из США в Кыргызстан - от $11/кг</h5>
                        <p class="pt-20 pb-10">Все расчеты за услуги, оказанные на сайте, в соответствии с
                            законодательством, производятся в сомах. Стоимость услуг рассчитывается по курсу
                            Национального банка на момент получения заказа.</p>
                        <p class="">При доставке нестандартных грузов, тариф оговаривается индивидуально, исходя из
                            характеристик груза. Оптовым и постоянным клиентам предусмотрены скидочные программы.</p>
                    </div> <!-- /.feature-block-two -->
                </div> <!-- /.col- -->
                <div class="col-lg-4 col-md-6">
                    <div class="feature-block-two aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                        <h5 class="pt-25 pb-35 text-center ">Прием и консолидация посылок - бесплатно</h5>
                        <p class="pt-10 pb-10">Наши склады в США принимают и консолидируют ваши посылки, в том случае
                            если вы хотите сохранить оригинальную упаковку, вам обязательно нужно сообщить об этом
                            дополнительно менеджеру компании.</p>
                        <br>
                        <p class="pb-20">Обязательно своевременно сообщайте трекинг номера своих посылок, в противном
                            случае, ваши посылки будут отсортированы в неизвестные до востребования.</p>
                    </div> <!-- /.feature-block-two -->
                </div> <!-- /.col- -->
                <div class="col-lg-4 col-md-6">
                    <div class="feature-block-two aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                        <h5 class="pt-25 pb-20 text-center ">Спец запросы - оговариваются индивидуально</h5>
                        <p class="pb-10">В тех случаях, когда вам необходимы дополнительные услуги (например, сделать
                            фото товаров, проверить размеры или добавить упаковочные материалы при упаковке),связанные с
                            посылками, которые уже прилетели на наш склад, вы можете заказать их с помощью спец
                            запросов. </p>
                        <br>
                        <p class="pb-20">Стоимость таких услуг определяется отдельно.</p>
                    </div> <!-- /.feature-block-two -->
                </div> <!-- /.col- -->
                <div class="col-lg-4 col-md-6">
                    <div class="feature-block-two aos-init aos-animate mt-20" data-aos="fade-up" data-aos-delay="200">
                        <h5 class="pt-25 pb-20 text-center ">Помощь при покупке - 5% от стоимости заказа</h5>
                        <p class="pt-20 pb-10">Менеджеры оформят и оплатят ваш заказ с помощью американских
                            корпоративных карт компании, возьмут на себя все переговоры с продавцом и проконтролируют,
                            чтобы ваша покупка успешно добралась до нашего склада. </p>
                        <p class="pt-20"> Для того, чтобы воспользоваться данной услугой, следует создать заказ в
                            разделе «Помощь при покупке» в своем личном кабинете или связаться с менеджером компании.
                        </p>
                    </div> <!-- /.feature-block-two -->
                </div> <!-- /.col- -->
                <div class="col-lg-4 col-md-6">
                    <div class="feature-block-two aos-init aos-animate mt-20" data-aos="fade-up" data-aos-delay="200">
                        <h5 class="pt-25 pb-20 text-center ">Личные посылки - от $11/кг</h5>
                        <p class="pt-20 pb-10">Мы также можем принять и отправить вашу личную посылку из США в
                            Кыргызстан. <br> Сдать свои посылки вы можете в городе Нью-Йорк представителю нашей
                            компании, для этого свяжитесь с нашими менеджерами в городе Бишкек или Нью-Йорк. </p>
                        <p class="pt-20"> Если вы находитесь в другом штате, то можете направить свою посылку на адрес
                            наших складов через локальную почту, а в личном кабинете оформить вашу посылку,
                            дополнительно сообщив нам данные получателя в Кыргызстане.</p>
                    </div> <!-- /.feature-block-two -->
                </div> <!-- /.col- -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div>

    <!--
			=============================================
				Newsletter Section
			==============================================
			-->
    <div class="newsletter-section newsletter-two pos-r mt-45">
        <div class="shape-wrapper">
            <svg class="img-shape shape-one">
                <path fill-rule="evenodd" fill="rgb(255, 205, 111)"
                    d="M8.000,15.999 C12.418,15.999 16.000,12.417 16.000,7.999 C16.000,3.581 12.418,-0.001 8.000,-0.001 C3.582,-0.001 -0.000,3.581 -0.000,7.999 C-0.000,12.417 3.582,15.999 8.000,15.999 Z" />
            </svg>
            <svg class="img-shape shape-two">
                <path fill-rule="evenodd" fill="rgb(206, 124, 255)"
                    d="M5.500,10.999 C8.537,10.999 11.000,8.537 11.000,5.499 C11.000,2.462 8.537,-0.001 5.500,-0.001 C2.462,-0.001 -0.000,2.462 -0.000,5.499 C-0.000,8.537 2.462,10.999 5.500,10.999 Z" />
            </svg>
        </div>
        <div class="container">
            <div class="main-wrapper">
                <div class="theme-title-one text-center pb-55">
                    <h2 class="main-title">Я хочу заказать со Штатов<br> <i>Как мне это сделать?</i></h2>
                </div> <!-- /.theme-title-one -->
                <form class="ajax-sub-form-2 subscribe-form" method="post"
                    action="https://docs.google.com/forms/u/5/d/e/1FAIpQLSdXjVf1DUCx-lGcY7MB021zPghByZfH67fvpqVPMoTAlIWtbQ/formResponse"
                    target="hidden_iframe">
                    <!-- use the id="ajax-sub-form" when you use it , we have change the ID in here for duplicate ID error -->
                    <iframe name="hidden_iframe" style="display:none;"></iframe>
                    <input type="number" required name="entry.409597030" placeholder="Ваш телефон"
                        id="subscription-email-2">
                    <!-- use the id="subscription-email" when you use it , we have change the ID in here for duplicate ID error -->
                    <button type="submit" class="button-rose submit-button"><i class="flaticon-next"></i></button>
                    <label class="subscription-label" for="subscription-email-2"></label>
                    <div class="text-center pt-30 "><i class="text-center">Указывая телефон вы принимаете <a
                                class="text-info" href="/agreement.pdf" target="_blank">Условия соглашения</a></i>
                    </div>
                </form>
            </div> <!-- /.main-wrapper -->
        </div> <!-- /.container -->
    </div> <!-- /.newsletter-section -->